.landDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: URL("../../xutils/Mapa\ GIF.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:antiquewhite;
    position: absolute;
    right: 0;
    left: 0;
}
.title {
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    margin-bottom: 130px;
    color: #f5f5f8;
    -webkit-text-stroke: 2.5px #8b8b8b;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
    transform: translateY(-3px);
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        text-shadow: 0 0 50px #8b8b8b; /* Efecto de text-shadow en estado inicial */
    }
    50% {
        text-shadow: none; /* Efecto de text-shadow en la mitad de la animación */
    }
    100% {
        text-shadow: 0 0 50px #8b8b8b; /* Efecto de text-shadow al final de la animación */
    }
}






.button85 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  cursor:pointer;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;
height: 5em;
width: 8em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button85:hover,
.button85:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  font-size: 20px;
}

.redes{
  position: relative;
  padding-top: 2.5em;
  margin-top:1em ;
  padding-bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1em;
  width: 1em;
  margin-bottom: 10px;
}
.logos{
  display: flex;
  flex-direction: row;
  height: 3em;
  width: 3em;
  padding-right: 5em;
  padding-left: 5em;
}
.divButton {
  display: flex;
  padding: 2em;
  overflow: hidden;
  min-height: 6em;
  max-height: 6em;
}
